
h1 {
    text-align: center;
    font-size: 100px;
}
body {
    background:linear-gradient(
        rgba(0, 0, 0, 0.15), 
        rgba(0, 0, 0, 0.85)
      ), url(background.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;   
}
h5 {
    color: azure;
    text-align: center;
}

#img-1 {
    width:200px;
    height:200px;
}
#brand-logo {
    font-family: 'Pacifico', cursive;
}
